<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand page-scroll" href="/">
    <img src="/images/logo.png" alt="Tanisha Sharma" width="50px" height="50px"/>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse flex justify-content-end" id="navbarToggler">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="<%= page_name === 'home' && 'active' %> nav-item mx-2">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="<%= page_name === 'services' && 'active' %> nav-item mx-2">
        <a href="/services" class="nav-link">Services</a>
      </li>
      <li class="<%= page_name === 'projects' && 'active' %> nav-item mx-2">
        <a href="/projects" class="nav-link">Projects</a>
      </li>
      <li class="<%= page_name === 'about' && 'active' %> nav-item mx-2">
        <a href="/about" class="nav-link">About</a>
      </li>
      <li class="<%= page_name === 'contact' && 'active' %> nav-item ml-2">
        <a href="/contact" class="nav-link pr-0">Contact</a>
      </li>
    </ul>
  </div>
</nav>