<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tanisha Sharma - Software Developer</title>
    <%- include('./partials/_head.ejs') %>
    <meta name="Description" content="Tanisha Sharma is a Software Engineering student at Centennial College Progress campus, Scarborough, ON">
    <meta property="og:url" content="https://tanisha1.herokuapp.com/contact" />
    <meta property="og:image" content="https://tanisha1.herokuapp.com/images/tanisha_sharma.jpeg" />
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
        <%- include('./partials/_page-title-badge.ejs') %>
        <div class="row">
            <div class="col-sm-6 col-12 mx-auto mb-5 animated" data-effect="bounceInUp">
                <%- include('./partials/_contact-form.ejs') %>
            </div>
        </div>
    </div>
    <%- include('./partials/_footer.ejs') %>
  </body>
</html>
