<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tanisha Sharma - Services we offered by me</title>
    <%- include('./partials/_head.ejs') %>
    <meta
      name="Description"
      content="Tanisha Sharma is a Software Engineering student at Centennial College Progress campus, Scarborough, ON"
    />
    <meta
      property="og:title"
      content="Tanisha Sharma - Services offered by me"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tanisha1.herokuapp.com/projects" />
    <meta property="og:image" content="https://tanisha1.herokuapp.com/images/tanisha_sharma.jpeg" />
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <div class="container">
      <%- include('./partials/_page-title-badge.ejs') %>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <!-- Project card start -->
          <div class="card mb-3 animated" data-effect="fadeInLeft">
            <img class="card-img-top" src="/images/projects/android_lifecycle.jpeg" alt="Android lifecycle" width="100%" height="200">
            <div class="card-body">
              <h5 class="card-title">Android lifecycles</h5>
              <p class="card-text">
                This was a fun project. That, I have created to learn about the lifecycle methods in an android application. 
              </p>
              <div class="technology-badges mb-3">
                <span class="badge badge-primary">Java</span>
                <span class="badge badge-secondary">MySql</span>
                <span class="badge badge-success">XML</span>
              </div>
              <p class="card-text"><small class="text-muted">Last updated 6 months ago</small></p>
            </div>
          </div>
          <!-- Project card end -->
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <!-- Project card start -->
          <div class="card mb-3 animated" data-effect="fadeInDown">
            <img class="card-img-top" src="/images/projects/rapid_food.jpg" alt="Rapid food" width="100%" height="200">
            <div class="card-body">
              <h5 class="card-title">Rapid food</h5>
              <p class="card-text">Rapid food is a mobile application prototype for an online food delivery platform, which is implemented on web using latest React.js techonologies. These I have added transition and gesture that are native on mobiles to make it more like a native application.
                Cart and order flow is implemented. For data dummy JSON is used instead of any backend web service.
              </p>
              <div class="technology-badges mb-3">
                <span class="badge badge-primary">Javascript</span>
                <span class="badge badge-success">HTML</span>
                <span class="badge badge-danger">SASS</span>
                <span class="badge badge-info">React.js</span>
                <span class="badge badge-warning">Redux.js</span>
              </div>
              <p class="card-text"><small class="text-muted">Last updated 3 months ago</small></p>
            </div>
          </div>
          <!-- Project card end -->
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <!-- Project card start -->
          <div class="card mb-3 animated" data-effect="fadeInRight">
            <img class="card-img-top" src="/images/projects/portfolio.jpg" alt="My Portfolio" width="100%" height="200">
            <div class="card-body">
              <h5 class="card-title">My Portfolio</h5>
              <p class="card-text">
                This is personal portfolio project. It is build on the top of Express.js using EJS template. There are total five pages in this application to showcase my skills and expertise in IT.                 
              </p>
              <div class="technology-badges mb-3">
                <span class="badge badge-primary">JavaScript</span>
                <span class="badge badge-dark">Express</span>
                <span class="badge badge-danger">SASS</span>
                <span class="badge badge-success">EJS</span>
                <span class="badge badge-warning">Node.js</span>
              </div>
              <p class="card-text"><small class="text-muted">Last updated 2 hours ago</small></p>
            </div>
          </div>
          <!-- Project card end -->
        </div>
      </div>
    </div>
    <%- include('./partials/_contact-now.ejs') %> <%-
    include('./partials/_footer.ejs') %>
  </body>
</html>
