<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tanisha Sharma - Projects created by me</title>
    <%- include('./partials/_head.ejs') %>
    <meta name="Description" content="Tanisha Sharma is a Software Engineering student at Centennial College Progress campus, Scarborough, ON">
    <meta property="og:title" content="Tanisha Sharma - Projects created by me" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="canonical" href="">
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%- include('./partials/_bootstrap.ejs') %>
  </body>
</html>
